!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.antialias: true
Xft.autohint: false
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------
URxvt*termName:             xterm-256color
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
/* URxvt.font:                 -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1 */

URxvt*font: xft:Ubuntu Mono:pixelsize=16
URxvt*boldFont: xft:Ubuntu Mono:bold:pixelsize=15

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Colors
URxvt*background: #000000
URxvt*foreground: #ffffff

rofi.font: Ubuntu, Regular, 11

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:BF000000, argb:CC000000, #1e2529
rofi.color-normal: argb:BF000000, #FFFFFF, argb:BF000000, #394249, #ffffff
rofi.color-active: argb:BF000000, #80cbc4, #273238, #394249, #80cbc4
rofi.color-urgent: argb:BF000000, #ff1844, #273238, #394249, #ff1844
rofi.location: 0
rofi.padding: 5
rofi.line-margin: 0
rofi.eh: 1
rofi.line-padding: 5
rofi.seperator-style: solid
rofi.scrollbar-width: 2